$prefix-for-webkit:    false;
$prefix-for-mozilla:   false;
$prefix-for-microsoft: false;
$prefix-for-opera:     false;
$prefix-for-spec:      true;

// ------- mixin settings
$browser-context: 14px;

// ------- viewport params
$se: 320px;
$ori: 480px;
$iphone6: 376px;
$pad: 769px;
$pc: 1280px;
$desktop: 1280px;

// ------- layout params
$box_width: 1080px;
$fontSize_tiny: 12px;
$fontSize: 14px;
$transit: .3s;
$fonts: "Helvetica Neue", Helvetica, Arial, "Microsoft JhengHei", "微軟正黑體", "Heiti TC", sans-serif;
$zIndex: lower, normal, fixed, overlay-wrapper, overlay;
$globalBorderRadius: 0;
$inputBorderWidth: 1px;
$inputPadding: .571em;

$fixed_btnsize: 40px;
$fixed_btnsize_mobile: 30px;
$fixed_btnright: 20px;
$fixed_btnright_mobile: 2vw;

@import "color";
@import "mix";
@import "animate";
