$_bg_width: 600px;
$_bg_left: 60px;
$_header_height: 80px;
$_header_height_mobile: 140px;
$_container_padding: 120px;
$_node_margin: 20px;

.body-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 2/3 * 100vw;
  min-height: 100vh;
  padding-top: $_container_padding;
  padding-right: $fixed_btnright + $fixed_btnsize + 10px;
  background-color: $bgc;
  @include breakpoint($pad, false) {
    position: relative;
    width: 100%;
    // padding-top: $_container_padding + $fixed_btnsize_mobile + 10px;
    padding-top: $fixed_btnright_mobile;
    padding-right: $fixed_btnright_mobile;
    padding-left: $fixed_btnright_mobile;
    background-color: transparent;
    // background-image: url("../images/components/body-container/bg-games.png");
    background-repeat: no-repeat;
  }
  &:before {
    position: absolute;
    top: 0;
    left: -$_bg_left;
    display: block;
    width: $_bg_width;
    height: 100%;
    background-color: $bgc;
    background-image: url("../images/components/body-container/bg-games.png");
    background-repeat: no-repeat;
    content: "";
    transform: skewX(-5deg);
    @include breakpoint($pad, false) {
      display: none;
    }
  }
}

.body-container__header {
  display: flex;
  align-items: center;
  height: $_header_height;
  @include breakpoint($pad, false) {
    display: block;
    height: $_header_height_mobile;
  }
}

.body-container__logo {
  $_margin-right: 60px;
  position: relative;
  width: 149px;
  height: 54px;
  min-width: 149px;
  margin-right: $_margin-right;
  @include breakpoint($pad, false) {
    margin-top: 10px;
    margin-right: 0;
  }
  &:after {
    position: absolute;
    top: 0;
    right: -$_margin-right/2;
    height: 100%;
    border: solid 1px $white;
    content: "";
    @include breakpoint($pad, false) {
      display: none;
    }
  }
}

.body-container__search {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2em;
  margin-right: 30px;
  @include breakpoint($pad, false) {
    display: inline-flex;
    justify-content: flex-start;
    height: 70px;
    margin-right: 0;
    vertical-align: top;
  }
  input {
    height: 2em;
    min-width: 6em;
    padding: $inputPadding;
    margin-right: 1em;
    font-size: 1.142em;
    color: $reverse_bgc;
    background-color: transparent;
    border-bottom: 2px solid $reverse_bgc;
    // transition: all $transit*2;
    @include breakpoint($pad, false) {
      padding: 0 $inputPadding;
    }
    &:focus {
      border-bottom: 2px solid $color1;
    }
  }
}

.body-container__search__icon {
  @include retina {
    background-image: url("../images/components/body-container/ic-search@3x.png");
  }
  width: 28px;
  height: 28px;
  cursor: pointer;
  background-image: url("../images/components/body-container/ic-search.png");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  &.js--actived {
    @include retina {
      background-image: url("../images/components/body-container/ic-search-active@3x.png");
    }
    background-image: url("../images/components/body-container/ic-search-active.png");
  }
}

.body-container__search__close {
  @include retina {
    background-image: url("../images/components/body-container/bt-close-02@3x.png");
  }
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url("../images/components/body-container/bt-close-02.png");
  background-position: center;
  background-size: contain;
}

.body-container__sort {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.142em;
  line-height: 2em;
  @include breakpoint($pad, false) {
    height: 70px;
    margin-left: 1em;
    vertical-align: top;
  }
  span {
    margin-right: 30px;
    cursor: pointer;
    &.js--actived {
      color: $color1;
    }
    &:last-child {
      margin-right: 0;
    }
    &.all {
      @include hideText;
      @include retina {
        background-image: url("../images/components/body-container/all@3x.png");
      }
      display: inline-block;
      width: 35px;
      height: 22px;
      background-image: url("../images/components/body-container/all.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      @include breakpoint($pad, false) {
        height: 16px;
      }
      &.js--actived {
        @include retina {
          background-image: url("../images/components/body-container/all-active@3x.png");
        }
        background-image: url("../images/components/body-container/all-active.png");
      }
    }
  }
}

.body-container__body {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-right: .5em;
  }
}

.body-container__node {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  width: calc(50% - #{$_node_margin*2});
  // height: $_node_img_size_mobile + 30px;
  margin: $_node_margin;
  cursor: pointer;
  transition: all $transit*2;
  @include breakpoint($iphone6) {
    width: calc(1/3 * 100% - #{$_node_margin*2});
    // height: $_node_img_size_pad + 30px;
  }
  @include breakpoint($pc) {
    width: calc(25% - #{$_node_margin*2});
    // height: $_node_img_size + 30px;
  }
}

.body-container__body__top-btn {
  @include retina {
    background-image: url("../images/components/body-container/bt-top@3x.png");
  }
  position: fixed;
  right: $fixed_btnright;
  bottom: 40px;
  z-index: 99;
  width: $fixed_btnsize*1.25;
  height: $fixed_btnsize*1.25;
  cursor: pointer;
  background-image: url("../images/components/body-container/bt-top.png");
  background-size: contain;
  @include breakpoint($pad, false) {
    right: $fixed_btnright_mobile;
    // width: $fixed_btnsize_mobile;
    // height: $fixed_btnsize_mobile;
  }
}

.body-container__body__game-selected {
  position: fixed;
  top: 0;
  left: 0;
  z-index: index($zIndex, overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.body-container__body__game-selected__wrapper {
  position: fixed;
  z-index: index($zIndex, overlay-wrapper);
  width: 100vw;
  height: 100vh;
  background-color: rgba($black, .5);
}

.body-container__body__game-selected__container {
  z-index: index($zIndex, overlay);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 448px;
  padding: 1.072em;
  font-size: 1.142em;
  color: $reverse_color0;
  background-color: $color1;
  @include breakpoint($pad, false) {
    width: 248px;
  }
  span,
  div {
    margin-bottom: 1.428em;
  }
  a {
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    width: 148px;
    height: 148px;
    padding-bottom: .75em;
    margin-right: 2.5em;
    text-decoration: none;
    background-position: center 1.125em;
    background-repeat: no-repeat;
    border: solid 2px $bgc;
    border-radius: 2px;
    transition: all $transit;
    @include breakpoint($pad, false) {
      display: flex;
      margin-right: 0;
      margin-bottom: 1.25em;
    }
    &:last-child {
      margin-right: 0;
      @include breakpoint($pad, false) {
        margin-bottom: 0;
      }
    }
    &:hover {
      color: $reverse_bgc;
      background-color: $bgc;
    }
    &.normal {
      @include retina {
        background-image: url("../images/components/body-container/normal@3x.png");
      }
      background-image: url("../images/components/body-container/normal.png");
      background-size: 76px 80px;
      &:hover {
        @include retina {
          background-image: url("../images/components/body-container/normal-hover@3x.png");
        }
        background-image: url("../images/components/body-container/normal-hover.png");
      }
    }
    &.featured {
      @include retina {
        background-image: url("../images/components/body-container/featured@3x.png");
      }
      background-image: url("../images/components/body-container/featured.png");
      background-size: 76px 80px;
      &:hover {
        @include retina {
          background-image: url("../images/components/body-container/featured-hover@3x.png");
        }
        background-image: url("../images/components/body-container/featured-hover.png");
      }
    }
  }
  .close {
    @include retina {
      background-image: url("../images/components/body-container/bt-close@3x.png");
    }
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("../images/components/body-container/bt-close.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.body-container__node__img {
  position: relative;
  z-index: index($zIndex, normal);
  display: block;
  width: 100%;
  padding-top: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  backface-visibility: hidden;
  .body-container__node:hover & {
    transform: rotateY(180deg);
    transition: all $transit*2;
    &:after {
      opacity: 1;
      transform: rotateY(180deg);
      transition: all $transit*2;
    }
  }
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: index($zIndex, lower);
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    content: "";
    opacity: 0;
    transform: rotateY(0);
  }
}

$games: (
  1: (
    gamecode: 1,
    frames: 15,
    width: 2400px
  ),
  2: (
    gamecode: 2,
    frames: 15,
    width: 2400px
  ),
  3: (
    gamecode: 3,
    frames: 15,
    width: 2400px
  ),
  4: (
    gamecode: 4,
    frames: 15,
    width: 2400px
  ),
  5: (
    gamecode: 5,
    frames: 15,
    width: 2400px
  ),
  6: (
    gamecode: 6,
    frames: 15,
    width: 2400px
  ),
  7: (
    gamecode: 7,
    frames: 15,
    width: 2400px
  ),
  8: (
    gamecode: 8,
    frames: 15,
    width: 2400px
  ),
  9: (
    gamecode: 9,
    frames: 15,
    width: 2400px
  ),
  10: (
    gamecode: 10,
    frames: 15,
    width: 2400px
  ),
  11: (
    gamecode: 11,
    frames: 15,
    width: 2400px
  ),
  12: (
    gamecode: 12,
    frames: 15,
    width: 2400px
  ),
  13: (
    gamecode: 13,
    frames: 15,
    width: 2400px
  ),
  14: (
    gamecode: 14,
    frames: 15,
    width: 2400px
  ),
  15: (
    gamecode: 15,
    frames: 15,
    width: 2400px
  ),
  16: (
    gamecode: 16,
    frames: 15,
    width: 2400px
  ),
  17: (
    gamecode: 17,
    frames: 15,
    width: 2400px
  ),
  18: (
    gamecode: 18,
    frames: 15,
    width: 2400px
  ),
  19: (
    gamecode: 19,
    frames: 15,
    width: 2400px
  ),
  20: (
    gamecode: 20,
    frames: 15,
    width: 2400px
  ),
  21: (
    gamecode: 21,
    frames: 15,
    width: 2400px
  ),
  22: (
    gamecode: 22,
    frames: 15,
    width: 2400px
  ),
  23: (
    gamecode: 23,
    frames: 15,
    width: 2400px
  ),
  24: (
    gamecode: 24,
    frames: 15,
    width: 2400px
  ),
  25: (
    gamecode: 25,
    frames: 15,
    width: 2400px
  ),
  26: (
    gamecode: 26,
    frames: 15,
    width: 2400px
  ),
  27: (
    gamecode: 27,
    frames: 15,
    width: 2400px
  ),
  28: (
    gamecode: 28,
    frames: 15,
    width: 2400px
  ),
  29: (
    gamecode: 29,
    frames: 15,
    width: 2400px
  ),
  30: (
    gamecode: 30,
    frames: 15,
    width: 2400px
  ),
  31: (
    gamecode: 31,
    frames: 15,
    width: 2400px
  ),
  32: (
    gamecode: 32,
    frames: 15,
    width: 2400px
  ),
  33: (
    gamecode: 33,
    frames: 15,
    width: 2400px
  ),
  34: (
    gamecode: 34,
    frames: 15,
    width: 2400px
  ),
  35: (
    gamecode: 35,
    frames: 15,
    width: 2400px
  ),
  36: (
    gamecode: 36,
    frames: 15,
    width: 2400px
  ),
  38: (
    gamecode: 38,
    frames: 15,
    width: 2400px
  ),
  39: (
    gamecode: 39,
    frames: 15,
    width: 2400px
  ),
  40: (
    gamecode: 40,
    frames: 15,
    width: 2400px
  ),
  41: (
    gamecode: 41,
    frames: 15,
    width: 2400px
  ),
  42: (
    gamecode: 42,
    frames: 15,
    width: 2400px
  ),
  43: (
    gamecode: 43,
    frames: 15,
    width: 2400px
  ),
  44: (
    gamecode: 44,
    frames: 15,
    width: 2400px
  ),
  45: (
    gamecode: 45,
    frames: 15,
    width: 2400px
  ),
  46: (
    gamecode: 46,
    frames: 15,
    width: 2400px
  ),
  47: (
    gamecode: 47,
    frames: 15,
    width: 2400px
  ),
  48: (
    gamecode: 48,
    frames: 15,
    width: 2400px
  ),
  49: (
    gamecode: 49,
    frames: 15,
    width: 2400px
  ),
  50: (
    gamecode: 50,
    frames: 15,
    width: 2400px
  ),
  51: (
    gamecode: 51,
    frames: 15,
    width: 2400px
  ),
  52: (
    gamecode: 52,
    frames: 15,
    width: 2400px
  ),
  53: (
    gamecode: 53,
    frames: 15,
    width: 2400px
  ),
  u01: (
    gamecode: u01,
    frames: 15,
    width: 2400px
  )
);
@each $name, $value in $games {
  .game#{#{map-get($value, gamecode)}} {
    .body-container__node__img {
      &:after {
        background-image: url("../images/animation/#{map-get($value, gamecode)}.png");
      }
    }
    &:hover {
      .body-container__node__img:after {
        // animation: play#{map-get($value, gamecode)} 1.75s steps(#{map-get($value, frames)}) 1;
        animation: play 1.75s steps(#{map-get($value, frames)}) 1;
        animation-delay: $transit;
      }
    }
  }
}
@keyframes play {
  // @keyframes play#{map-get($value, gamecode)} {
  // 100% { background-position: -#{map-get($value, frames)}00%; }
  100% { background-position: 0 -1500%; }
}

.body-container__node__tag {
  position: absolute;
  top: 0;
  left: 0;
  z-index: index($zIndex, lower);
  width: 100%;
  height: 100%;
  span {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
    transition: all $transit*2;
    .body-container__node:hover & {
      opacity: 0;
    }
    &.new {
      @include retina {
        background-image: url("../images/components/body-container/new@3x.png");
      }
      background-image: url("../images/components/body-container/new.png");
    }
    &.recommend {
      @include retina {
        background-image: url("../images/components/body-container/recommend@3x.png");
      }
      background-image: url("../images/components/body-container/recommend.png");
      .gameu01 & {
        @include retina {
          background-image: url("../images/components/body-container/bubble@3x.png");
        }
        background-image: url("../images/components/body-container/bubble.png");
      }
    }
    &.hot {
      @include retina {
        background-image: url("../images/components/body-container/hot@3x.png");
      }
      background-image: url("../images/components/body-container/hot.png");
    }
  }
}

.body-container__wrapper {
  width: 100%;
  height: calc(100vh - #{$_container_padding} - #{$_header_height});
  @include breakpoint($pad, false) {
    height: calc(100vh - #{$_container_padding} - #{$_header_height_mobile});
  }
}
