.body-nav {
  position: fixed;
  top: 70px + 10px;
  right: $fixed_btnright;
  z-index: index($zIndex, fixed);
  @include breakpoint($pad, false) {
    top: 16vw;
    top: calc(2vw + 10px);
    right: $fixed_btnright_mobile;
  }
}

.body-nav__ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.body-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $fixed_btnsize;
  height: $fixed_btnsize;
  margin-top: .857em;
  // font-weight: bold;
  color: $color0;
  cursor: pointer;
  background-color: $color0;
  transition: all $transit;
  @include breakpoint($pad, false) {
    width: $fixed_btnsize_mobile;
    height: $fixed_btnsize_mobile;
  }
  // &:hover,
  // &.active {
  //   opacity: .5;
  // }
  &:first-child {
    @include hideText;
    @include retina {
      background-image: url("../images/components/body-nav/ic-home@3x.png");
    }
    margin-top: 0;
    background-color: $color1;
    background-image: url("../images/components/body-nav/ic-home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 26px 22px;
  }
  &.flag {
    background-color: transparent;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 15px;
    box-shadow: rgba($black, .6) 0 0 15px 15px inset;
    span {
      text-shadow: $black 1px 1px 1px;
      opacity: .2;
    }
    @include breakpoint($pad) {
      border-radius: 20px;
    }
    &:hover {
      box-shadow: rgba($black, .1) 0 0 15px 15px inset;
      span {
        opacity: 1;
      }
    }
    &.js--actived {
      cursor: default;
      box-shadow: rgba($black, .1) 0 0 15px 15px inset;
      span {
        opacity: 0;
      }
    }
  }
}
